body{

    background-image: url("../assets/images/login_background_dm.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}


.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(62, 62, 62);
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}




.send-button {
    float: right
}

.cancel-button{

    float: left;

}

.cancel-button .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: darkred;
    border: 2px solid black;
    color: white;
    padding: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
    transition-duration: 0.4s
}

.send-button .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: darkred;
    border: 2px solid black;
    color: white;
    padding: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
    transition-duration: 0.4s
}

.send-button .button:hover,
.form .button:focus,
.form .button:active {
    border-color: #ff4848;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1)
}

.cancel-button .button:hover,
.form .button:focus,
.form .button:active {
    border-color: #ff4848;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1)
}

.send-button .button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.cancel-button .button:active {
    position: relative;
    top: 1px;
    left: 1px
}