html{

    font-size:20px

}

body{

    overflow-y: hidden

}

div#userTable_filter{

    float: right;
    margin-right: 30px;

}

.form-control-sm{

    width:100%;

}

#dontOverExtend{

    max-width: 150px;
    overflow: hidden;
    word-break: break-word;

}
